/* Global styles */
body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333333;
}

a {
    color: #ABC1D4; /* Light blue color for links */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Header styles */
header {
    background-color: #ABC1D4; /* Light blue color */
    color: #fff;
    padding: 1em;
    text-align: center;
}

/* Sidebar/menu styles */
.w3-sidebar, .w3-top {
    background-color: #ABC1D4; /* Light blue color */
    color: #fff;
    font-weight: bold;
}

.w3-sidebar a, .w3-top a {
    color: #fff;
}

/* Footer styles */
footer {
    background-color: #ABC1D4; /* Light blue color */
    color: #fff;
    text-align: center;
    padding: 1em;
}

/* Form container styles */
form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-top: 50px;
}

/* Input field styles */
input[type="text"], input[type="email"], input[type="password"] {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Button styles */
button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Custom style for "Already have an account?" link */
.login-link {
    color: #ABC1D4; /* Light blue color */
    font-weight: normal;
}

.login-link:hover {
    text-decoration: underline;
}

/* Mission, services, designers, packages, contact */
.w3-container {
    margin-top: 75px;
}

.w3-container h1 {
    color: #ABC1D4; /* Light blue color */
}

.w3-container h3 {
    color: #333333;
}

/* Grid system */
.w3-row-padding {
    margin-top: 25px;
}

.w3-third {
    width: 30.33%;
    margin-bottom: 20px;
}

/* Modal styles */
.w3-modal {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
}
.logo-container {
    filter: drop-shadow(5px 5px 10px #6B8BA9);
    margin-right: 10px; /* Adjust margin as needed */
}

header {
    background-color: #ABC1D4;
    color: #fff;
    padding: 1em;
    text-align: center;
    display: flex;
    align-items: center;
}

/* Zoom effect */
.zoom {
    padding: 50px;
    background-color: #abc1d4;
    transition: transform .2s; /* Animation */
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}



/* Dropdown styles */
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

/* Label styles */
label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.checkbox-group input[type="checkbox"],
.checkbox-group label {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px; /* Adjust margin as needed */
}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mainpage-section {
    display: flex;
    justify-content: flex-start; /* Horizontally center */
    align-items: center; /* Vertically center */
    height: 100vh; /* Adjust as needed */
}

.mainpage-content {
    text-align: center; /* Center text horizontally */
}
